<!DOCTYPE html>
<html>
<head th:fragment="head_his">
	<title>麦信RFQ管理系统</title>
	<base th:href="${#httpServletRequest.getAttribute('contextPath')}" />
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="renderer" content="webkit">
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<meta name="apple-mobile-web-app-title" content="Amaze UI" />
	<link rel="icon" type="image/x-icon" href="/img/favicon2.ico">
	
	<link rel="stylesheet" href="assets/css/amazeui.min.css" />
	<link rel="stylesheet" href="css/admin.css">
	<link rel="stylesheet" href="css/app.css">
	<link rel="stylesheet" href="assets/css/amazeui.datatables.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="ztree/css/zTreeStyle/zTreeStyle.css" type="text/css">
	
	<script type="text/javascript" src="js/jquery.min.js"></script>
	
	<script type="text/javascript" src="js/jquery-form.js"></script>
	<script src="assets/js/amazeui.min.js"></script>
	<script src="assets/js/app.js?v=1.0"></script>
	<script th:inline="javascript">
		var path = [[${#httpServletRequest.getAttribute('contextPath')}]];
		var imUIUrl = [[${#httpServletRequest.getAttribute('imUIUrl')}]];
	    var imServerUrl = [[${#httpServletRequest.getAttribute('imServerUrl')}]];
	    var imgHost = [[${#httpServletRequest.getAttribute('imgHost')}]];
	
	    //登录用户信息
	    userName = [[${session.user?.chName}]];
	    userId = [[${session.user?.id}]];
	</script>
	<!-- <script src="js/tracking/wms.js?v=2019060602"></script> -->
</head>



<body>
</body>
</html>