@charset "utf-8";
/* CSS Document */
/*公共样式*/
*{margin: 0; padding: 0;height:100%}
a{text-decoration: none; color: #323232;border:none;-webkit-tap-highlight-color:transparent; }
img{border:none;}
h3{font-weight: normal;}
input,textarea,button,select，label{border: none; resize:none;outline: none;}
select{appearance:none; -moz-appearance:none;-webkit-appearance:none;}
li{list-style: none;}
i,em{font-style:normal;}
body{background: #fff;font:14px/1.6 Microsoft YaHei,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Ubuntu,Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei UI,Source Han Sans CN,sans-serif;}
body div{background: transparent;}

/*公用样式*/
.fl{float:left;}
.fr{float:right;}
.clear{clear:both;}

/*register.html*/
.head{height:74px;line-height:74px;border-bottom: 0px solid #e0e0e0;background-color:#6C757D;width: 100%;}
.head span{display: block;width:1000px;margin:0 auto;background: url("../img/logo.png")no-repeat left center;background-size: 180px auto;height:74px;}
.main_content{width:1000px;position:absolute;left:50%;top:50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);}
.content_left{padding-top: 15px;display: table;width:430px;height:320px;overflow: hidden;}
.content_left span{display: table-cell;vertical-align: middle;text-align: center;}
.content_left span img{max-width:430px;max-height:320px;vertical-align: middle;}
.content_right{width: 262px;padding: 0 18px 46px;border:1px solid #e0e0e0;position:relative;border-radius: 5px;}
.content_right p{font-size: 22px;color:#ff3f24;text-align: left;padding-bottom: 10px;padding-top: 28px;}
.right_ul{margin-bottom: 20px;}
.right_ul table{border-spacing:0px 30px;border-collapse:separate;  }
.right_ul tr td{height:42px;width:258px;line-height: 42px;border:1px solid #e0e0e0;}
.right_ul .tr_top{margin-bottom: 30px;}
.right_ul tr span{display: inline-block;width:42px;height:42px;}
.right_ul tr .td_name{background:#f3f3f3 url(../img/name.png)no-repeat center;background-size: 28px auto;}
.right_ul tr .td_pass{background:#f3f3f3 url(../img/pass.png)no-repeat center;background-size: 28px auto;}
.right_ul tr input{width: 190px;line-height: 20px;font-size: 16px;padding:11px 12px;}
.content_right label{text-align: right;display: block;position:absolute;right:18px;bottom:106px;}
 .label_case{display: inline-block;border:1px solid #e0e0e0;width:12px;height:12px;
    vertical-align: middle;}
.content_right label input{display: none;}
.content_right label input:checked~span{background: url("../img/check.png")no-repeat center;background-size: 12px auto;}
.content_right label .label_text{font-size: 14px;color:#999;}
.right_btn{cursor:pointer; width:70%;margin:auto;margin-top:20px;height:42px;line-height: 42px;text-align: center;color:#fff;font-size: 18px;background: #ff3f24;}
.foot{font-size: 14px;color: #666;width: 100%;text-align: center;line-height: 80px;background: #ebebeb;height:80px;}/*position: absolute;bottom:0;left:0;*/
.hint{position:absolute;left:12px;top:66px;font-size: 12px;color:#999;display: inline-block;width: 242px;line-height: 30px;}
.hint span{color:#ff3f24;font-size: 20px;float: left;margin-top: 3px;margin-right: 3px;}
/*register.html   end*/